.coverSecCont{
	width:100%;
	position:relative;
	text-align:center;
	}

.coverSecCont h1{
	// margin: 0 0 48px 0;
	color:rgba(0,0,0,0.85);
	position:absolute;
	top: 40%;
	left:24px;
	right:24px;
	transform: translateY(-40%);
	-webkit-transform: translateY(-40%);
	font-size:96px;
	margin:0 12%;
	background:white;
	padding:24px;
}

.coverScrollDownButton{
	display:block;
	width:50px;
	height:50px;
	background: url('images/ic-arrow-down.svg') center center no-repeat;
	margin:0 auto;
	opacity: 0.2;
	position:absolute;
	bottom:48px;
	left: 50%;
	transform: translateX(-50%);
	-webkit-transform: translateX(-50%);
}
