@media screen and (max-width: 1000px){
  body{
    font-size:16px;
  }

  h1{
  	font-size:42px;
  }

  h2{
  	font-size:28px;
  }

  h3{
  	font-size:20px;
  }

  .coverSecCont h1{
    font-size:42px;
  }

  // Sticky Menu
  .stickyMenu{
    border:none;
  }
  .stickyMenuCont{
    width:100%;
  }
  .stickyMenu ul{
    display:none;
    width:100%;
  }
  .stickyMenu ul li{
    display:block;
  }
  .stickyMenu ul li a{
    padding:24px;
    font-size:16px;
    background:rgba(0,0,0,0.9);
    color:rgba(255,255,255,0.75);
  }
  .stickyMenu ul li a:hover{
    color:#fff;
  }
  .hamburgerMenuButton{
    display:inline-block;
  }

  .flyingWatermelonsCont{
    height:160px;
    background-size:300px;
    background-position:bottom center;
    margin-bottom:24px;
  }

  .sectionContentHeader{
    margin-top:24px;
  }

  .allTitlesAndDescCont {
    width:90%;
    margin: 0 auto;
  }

  .bioSectionCont p{
  	width:90%;
    margin-bottom:12px;
  }

  .coverImageCont{
    margin-bottom: 0;
  }

  .coverImageCont h2{
    margin-top:84px;
    font-size: 32px;
  }

  .coverImageCont p, .singleLinkNDesCont p{
    line-height:1.2;
    font-size:16px;
  }

  .rowIconImageCont{
    display:block;
    width:100%;
  }

  .singleLinkNDesCont{
    padding: 0 0 24px;
    text-align:center;
    margin-top:48px;
  }

  .singleLinkNDesCont a{
    font-size:18px;
  }

  .titleNTextCont{
    width:100%;
  }

  .titleNTextCont{
    margin:0;
  }

  .linkIcon{
    background-position:center;
  }

  .contentImage{
    margin:12px auto 0;
    background-position:center;
  }

  .separatorHulk{
    margin: 60px 0;
  }

  .rowIconImageCont.linkIcon.general-link-icon{
    display:none;
  }

  .hireMeSubtitle{
    margin: 12px 0 24px 0;
  }

  .footerTrollTitles{
    font-size:24px;
  }

}
