*{
	margin: 0;
	padding: 0;
	-webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
	-moz-box-sizing: border-box;    /* Firefox, other Gecko */
	box-sizing: border-box;         /* Opera/IE 8+ */
	transition: all 0.25s;
	-webkit-appearance: none;
	-webkit-border-radius: 0;
	outline: none;
	font: 300 20px 'Open Sans', 'Helvetica Neue', 'Helvetica', sans-serif;
}

a{
	color: #0082cc;
	text-decoration: none;
	display: inline-block;
	font-size: 14px;
}
a:hover{
	text-decoration: underline;
}


body{
	color: #222;
	background: #27292b;
	text-align: center;
}

#blueHeadLine{
	width: 100%;
	background: #0084c4;
	height: 3px;
}

#fuckYouDesktopOnly{
	font-size: 26px;
	margin-top: 50px;
	width: 95%;
	margin: 100px auto 0;
	display: none;
}
#fuckYouDesktopOnly span{
	font-size: 30px;
	font-weight: 700;
}

#footerCont{
	background: #000;
	opacity: 0.75;
	width: 100%;
	position: fixed;
	bottom: 0;
	color: #858c93;
	font-size: 14px;
	padding: 18px 0;
	z-index: 1;
}
#footerCont:hover{
	opacity: 1;
}
#footerCont a{
	color: #c3cbd4;
}

#mainCont{
	width: 1000px;
	margin: 0 auto;
	color: #fff;
}

#logo{
	width: 160px;
	height: 160px;
	border-radius: 50%;
	background: url(../images/logo.png) center no-repeat #fff;
	background-size: 50%;
	margin: 50px auto 30px;
}

#headCont h1{
	font-size: 50px;
	color: #fff;
}

#headCont h2{
	font-size: 20px;
	color: #858c93;
	margin-bottom: 90px;
}

#headCont button{
	width: 30%;
	height: 65px;
	font-size: 20px;
	color: #fff;
	background: #0084c4;
	border: none;
	border-radius: 4px;
	cursor: pointer;
}
#headCont button:hover{
	background: #0073ac;
}
#headCont button:active{
	background: #18191a;
}

#headCont h5{
	font-size: 11px;
	color: #858c93;
	margin: 4px 0 80px 0;
}

#photoshopImage{
	max-width: 100%;
	margin: 0 auto 100px;
	opacity: 0.25;
}

#fuckingErrorMessage{
	max-width: 100%;
	margin: 100px auto 100px;
	display: none;
}

@media screen and (max-width: 1000px){
	body{background: #fff;}
	#fuckYouDesktopOnly{display: block;}
	#headCont{display: none;}
	#photoshopImage{display: none;}
	img#fuckingErrorMessage{display: none; opacity: 0;}
	#footerCont{display: none;}
	#mainCont{width:94%; margin-top:20px;}
}