*, *:before, *:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: all ease 0.5s;
  -moz-transition: all ease 0.5s;
  -o-transition: all ease 0.5s;
  transition: all ease 0.5s;
}

body, h1,h2,h3, h4, p, ul, li {
	margin:0;
	padding:0;
}

body {
  background: #051320;
  font-family: 'Open Sans','Roboto','Helvetica Neue', 'Lucida Grande', sans-serif;
  font-size: 16px;
  font-weight: 300;
  color: white;
}

b {
  font-weight: 400;
}

hr {
  border: none;
  border-bottom: 1px solid rgba(255,255,255,0.1);
  margin: 10px 0;
  clear: both;
}

.section-divider {
  margin: 100px 0;
}

a {
  text-decoration: none;
  color: #00E5FF;
}

a:hover {
  text-decoration: underline;
}

.habibi-link {
  display: inline-block;
  margin-top: 8px;
  font-size: 16px;
}

.head-cover-bg {
  background: linear-gradient(0deg, #051320 0%, rgba(5,18,32,0.66) 100%), url('images/header-bg.jpg') no-repeat center center fixed;
  background-size: cover;
  height: 100vh;
  min-height: 600px;
}

.short-bio-cover-bg {
  background: linear-gradient(0deg, #051320 0%, rgba(5,18,32,0.5) 50%, #051320 100%), url('images/habibidesk.jpg') no-repeat center center fixed;
  background-size: cover;
}

.work-process-cover-bg {
  background: linear-gradient(0deg, #051320 0%, rgba(5,18,32,0.90) 50%, #051320 100%), url('images/process-bg.jpg') no-repeat center center fixed;
  background-size: cover;
}

.page-cont {
  width: 1000px;
  margin: 0 auto;
  text-align: center;
}

.logo-and-nav {
  display: inline-block;
  clear: both;
  width: 100%;
  margin: 50px 0 200px 0;
  position: relative;
  text-align: left;
}

.head-logo {
  display: inline-block;
  width: 98px;
  height: 40px;
  background: url('images/logo.svg') center center no-repeat;
  vertical-align: middle;

  opacity: 0;
  animation: fadeInAnimation 1s ease-in-out 0s forwards;
}

.head-menu {
  text-align: right;
  display: block;
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%);

  opacity: 0;
  animation: fadeInAnimation 0.5s ease-in-out 0.5s forwards;
}

.head-menu a, #menu-close-button {
  color: white;
  display: inline-block;
  text-decoration: none;
  height: 40px;
  line-height: 38px;
  padding: 0 20px;
  margin: 0 0 0 20px;
  border-radius: 20px;
  border: 1px solid rgba(255,255,255,0.2);
  font-weight: 300;
  cursor: pointer;
}
.head-menu a:hover, #menu-close-button:hover {
  border: 1px solid rgba(255,255,255,1);
}
.head-menu a:active, #menu-close-button:active {
  background: white;
  color: #051320;
}
.head-menu a:first-child {
  margin: 0;
}

#menu-close-button{
  display: none;
}

#menu-button {
  color: white;
  display: inline-block;
  text-decoration: none;
  height: 40px;
  line-height: 38px;
  padding: 0 20px;
  margin: 0 0 0 20px;
  border-radius: 20px;
  border: 1px solid rgba(255,255,255,0.2);
  font-weight: 300;
  display: none;
  cursor: pointer;
}
#menu-button:hover {
  border: 1px solid rgba(255,255,255,1);
}
#menu-button:active {
  background: white;
  color: #051320;
}

.center-cont {
  width: 780px;
  margin: 0 auto;
}

.section-title {
  color: white;
  margin: 50px 0;
  font-weight: 400;
}

.head-title {
  font-weight: 400;
  font-size: 24px;

  opacity: 0;
  animation: fadeInAnimation 0.5s ease-in-out 1s forwards;
}

.sec-title {
  font-weight: 300;
  font-size: 16px;
  color: rgba(255,255,255,0.7);

  opacity: 0;
  animation: fadeInAnimation 1s ease-in-out 1.5s forwards;
}

.cover-titles-line {
  width: 0;
  animation: expandWidthAnimation 0.5s ease-in-out 2s forwards;
}

.stalker-sec-title {
  margin-bottom: 0;
}

.short-bio {
  margin: 50px auto;
}

.main-cta {
  display: inline-block;
  height: 50px;
  line-height: 48px;
  padding: 0 50px;
  margin: 100px 0;
  font-size: 16px;
  color: white;
  border: 1px solid rgba(0,230,250,0.5);
  border-radius: 33px;

  opacity: 0;
  animation: fadeInAnimation 1s ease-in-out 2.5s forwards;
}
.main-cta:hover {
  text-decoration: none;
  border: 1px solid rgba(0,230,250,1);
}
.main-cta:active {
  background: rgba(0,230,250,1);
  color: #051320;
}

.sec-cta {
  clear: both;
  display: inline-block;
  height: 44px;
  line-height: 42px;
  border-radius: 22px;
  border: 1px solid rgba(255,255,255,0.2);
  padding: 0 30px;
  margin: 30px 0 0 0;
}
.sec-cta:hover {
  text-decoration: none;
  border: 1px solid rgba(255,255,255,1);
}
.sec-cta:active {
  background: white;
  color: #051320;
}

.tiny-center-cont {
  width: 450px;
  margin: 0 auto;
  text-align: left;
  color: rgba(255,255,255,0.7);
}

.about-det-cont {
  margin: 100px auto;
}

.about-detail {
  margin: 20px 0;
}

.about-detail b {
  color:rgba(255,255,255,1);
}

.work-sec-cont {
  margin: 100px auto;
}

.work-shots-cont {
  width: 100%;
  margin-bottom: 20px;
  font-size: 0;
}

.work-shots-cont .sec-cta {
  font-size: 16px;
}

.work-shot {
  width: 300px;
  background: white;
  display: inline-block;
  margin: 10px;
  position: relative;
}

.work-shot::after {
  content: "";
  display: block;
  background: rgba(5,12,32,0);
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
}
.work-shot:hover::after {
  background: rgba(5,12,32,0.3);
}

.work-shot img{
  display: block;
  width: 100%;
  height: 100%;
}

.process-cont {
  margin: 100px auto;
}

.process-item {
  margin: 40px 0;
  padding: 0 0 0 20px;
  border-left: 1px solid rgba(255,255,255,0.2);
  position: relative;
}

.process-item:hover {
  border-left: 1px solid rgba(255,255,255,1);
  /*padding: 0 0 0 30px;*/
}

.process-item b {
  color: white;
}

.contact-sec-cont {
  margin: 100px auto;
}

.contact-item {
  margin: 20px 0;
  color: white;
}

.contact-item b {
  display: block;
}

.contact-item a {
}

.stalker-cont {
  width: 60%;
  margin: 0 auto;
  font-size: 0;
}

.stalker-item {
  font-size: 16px;
  width: 33.33%;
  display: inline-block;
  margin: 0 0 60px 0;
}

.icon-dribbble, .icon-twitter, .icon-instagram, .icon-linkedin, .icon-github, .icon-codepen{
  height: 50px;
}

.icon-dribbble {
  background: url('images/icons/icon-dribbble.svg') center center no-repeat;
}
.icon-twitter {
  background: url('images/icons/icon-twitter.svg') center center no-repeat;
}
.icon-instagram {
  background: url('images/icons/icon-instagram.svg') center center no-repeat;
}
.icon-linkedin {
  background: url('images/icons/icon-linkedin.svg') center center no-repeat;
}
.icon-github {
  background: url('images/icons/icon-github.svg') center center no-repeat;
}
.icon-codepen {
  background: url('images/icons/icon-codepen.svg') center center no-repeat;
}

.footer-sec-cont {
  margin-top: 200px;
  font-size: 12px;
}

.footer-sec-title {
  color: rgba(255,255,255,0.5);
  margin-bottom: 200px;
}

.footer-main-title {
  margin: 0 0 5px 0;
  display: block;
}

.footer-bonus-link {
  display: block;
  margin-bottom: 600px;
}

.footer-potato-title {
  margin-bottom: 20px;
}

.footer-potato {
  margin-bottom: 30px;
  opacity: 0.8;
}
.footer-potato:hover {
  opacity: 1;
}

/*
  Animation habibi
  Thanks @joericho for the help with this
*/
@-webkit-keyframes fadeInAnimation {
  0%   { opacity: 0; }
  100% { opacity: 1; }
}
@-moz-keyframes fadeInAnimation {
  0%   { opacity: 0; }
  100% { opacity: 1; }
}
@-o-keyframes fadeInAnimation {
  0%   { opacity: 0; }
  100% { opacity: 1; }
}
@keyframes fadeInAnimation {
  0%   { opacity: 0; }
  100% { opacity: 1; }
}

@-webkit-keyframes expandWidthAnimation {
  0%   { width: 0;}
  100% { width: 100%;}
}
@-moz-keyframes expandWidthAnimation {
  0%   { width: 0;}
  100% { width: 100%;}
}
@-o-keyframes expandWidthAnimation {
  0%   { width: 0;}
  100% { width: 100%;}
}
@keyframes expandWidthAnimation {
  0%   { width: 0;}
  100% { width: 100%;}
}

/* Make me responsive (tablets) */
/*1000 + 20 padding on sides*/
@media screen and (max-width: 1040px){
  body, .habibi-link {
    font-size: 16px;
  }
  .head-cover-bg {
    background-attachment: scroll;
  }

  .short-bio-cover-bg {
    background-attachment: scroll;
  }

  .work-process-cover-bg {
    background-attachment: scroll;
  }

  .page-cont {
    width: 100%;
    padding: 0 20px;
  }
  .logo-and-nav {
    margin-top: 30px;
    margin-bottom: 100px;
    text-align: center;
  }
  .head-menu {
    display: block;
    position: relative;
    text-align: center;
    transform: none;
    margin-top: 10px;
  }
  .head-menu a, .head-menu a:first-child, #menu-close-button, #menu-button {
    height: 50px;
    line-height: 48px;
    border-radius: 25px;
  }
  .head-logo {
    margin-bottom: 20px;
    height: 50px;
  }
  .center-cont {
    width: 100%;
  }
  .work-shot {
    width: 220px;
    margin: 5px;
  }
  .head-title {
    font-size: 18px;
  }
  .sec-title {
    font-size: 16px;
  }

  .tiny-center-cont {
    width: 100%;
  }
  .stalker-cont {
    width: 100%;
  }
  .stalker-item {
    width: 50%;
    margin-bottom: 30px;
  }
  .footer-sec-cont {
    font-size: 14px;
  }

}
/* Responsive (mobile) */
@media screen and (max-width: 700px){
  .head-menu {
    display: none;
    position: fixed;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(5,19,32,0.98);
    margin: 0;
    z-index: 10;
    overflow: auto;
    padding: 60px 20px 0 20px;

    animation: fadeInAnimation 0.25s ease-in-out 0s forwards;
  }
  .head-menu a, .head-menu a:first-child, #menu-close-button {
    display: block;
    width: 100%;
    margin: 0 0 20px 0;
    height: 50px;
    line-height: 48px;
    border-radius: 25px;
  }
  .work-sec-cont {
    margin: 50px auto;
  }
  .head-cover-bg {
    background-attachment: scroll;
  }
  .logo-and-nav {
    margin-bottom: 50px;
    text-align: left;
  }
  .head-logo {
    display: inline-block;
    vertical-align: middle;
    margin-bottom: 0;
    float: left;
  }
  #menu-button {
    float: right;
    display: block;
    /*Make it sticky
    position: fixed;
    top: 30px;
    right: 20px;
    background: rgba(5,19,32,0.2);
    z-index: 1;*/
  }
}
