*{
	margin:0;
	padding:0;
	-webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
	-moz-box-sizing: border-box;    /* Firefox, other Gecko */
	box-sizing: border-box;         /* Opera/IE 8+ */
}

/* #006699 */

body{
	color:#222;
	padding:0;
	margin:0;
	background:#fff;
	text-align:left;
	direction:ltr;
	font: 300 24px "Open Sans","Helvetica Neue", "Helvetica", Arial, Geneva, sans-serif;
}

input, textarea, button {
  -webkit-appearance: none;
  -webkit-border-radius: 0;
  outline: none;
}

button{transition: all 0.1s ease;}

input{transition: all 0.15s ease;}


#mainCont{
	width: 100%;
	margin: 0 auto 0;
}

.planCont{
	width: 100%;
	border-bottom: solid 1px #eee;
	font-size: 0;
	padding: 0 0 10px 0;
	margin: 10px 0 0 0;
}

.planCont h1{
	font-size: 12px;
	font-weight: 700;
	color: #ff3300;
	text-align: center;
}

.priceAndSignupCont{
	width: 50%;
	text-align: center;
	display: inline-block;
}

.currencySymbol{
	font-size: 12px;
	color: #85949b;
	vertical-align: top;
}

.priceNumb{
	font-size: 36px;
	color: #02a4b2;
	font-weight: 700;
}

.priceDuration{
	font-size: 12px;
	color: #85949b;
	margin: 0 0 0 4px;
}

.buttonSignUp{
	border: solid 1px #86949b;
	background: #fff;
	color: #303639;
	text-transform: uppercase;
	font-size: 12px;
	border-radius: 40px;
	width: 70%;
	height: 50px;
	display: block;
	margin:0 auto;
	font-weight: 700;
}
.buttonSignUp:hover{
	border: none;
	cursor: pointer;
	background: #02a4b2;
	color: #fff;
}
.buttonSignUp:active{
	background: #01909c;
	color: #fff;
}

.redButton{
	background:#ff3300;
	border:none;
	color: #fff;
}
.redButton:hover, .redButton:active{
	border: solid 1px #ff3300;
	background: #fff;
	color: #303639;
}

.specsCont{
	width: calc(50% - 30px);
	display: inline-block;
	text-align: left;
	margin: 15px;
	font-size: 0;
	list-style: none;
	vertical-align: top;
}

.propValue{
	font-size: 16px;
	color: #303639;
	display: block;
	font-weight: 300;
}

.propName{
	font-size: 12px;
	color: #85949b;
}

.sexyRedTextColor{
	color: #ff3300;
}




/* Because mobile first */
@media screen and (min-width: 500px){
	#mainCont{width:500px;}
}