body{
	background-color: #FAFAFA;
	color: #656565;
}

h1,h2,h3,h4 {
	font-weight: normal;
}

a{
	color: #DC5C47 ;
}
/*--- helper classes */
.h__v-padding--small
{
	padding-top: 5px;
	padding-bottom: 5px;
}

.h__v-padding--large
{
	padding-top: 10px;
	padding-bottom: 10px;
}

.h__no-padding
{
	padding-left: 0;
	padding-right: 0;
}

/* ----- Header nav CSS */

.h__nav-bar
{
	border-radius: 0;
	border-bottom: 2px solid #EFEFEF;
	padding: 10px 0;
	background-color: #FFFFFF;
}

.h__search
{
background-color: #F2F1F0;
border-radius: 4px;
}

.h__search-icon
{
border: 0;
background-color: #F2F1F0;
color: #656565;
}

.h__search-text
{
background-color: #F2F1F0;
border: 1px solid #F2F1F0;
}

.h__logo
{
	text-align: center;
}

/* --- end of header nav CSS */

/* ----- content CSS */
.h__input{
	border: 0;
}
.h__container-header
{
	text-align: center;
}

.h__book-info
{
	background-color: #FFFFFF;
	margin: 30px auto; 
	padding: 20px 0; 
	border: 1px solid #EFEFEF;
	border-radius: 4px;
	text-align: left;
}

.h__book-type{
	background-color: #000;
	padding: 2px;
	font-size: 10px;
	color: #FFFFFF;
	border-radius: 2px;
}

.h__book-total-price
{
	border-top: 1px dashed #EFEFEF;
	text-align: right;
	padding-top: 20px;
	margin-top: 15px; 
	padding-right: 20px;
}

.h__book-total-price p
{
	margin-bottom: 0;
}

.h__payment-details{
	background-color: #54A6DA;
	border-radius: 4px;
	margin-top: 20px;
	color: #FFFFFF;
	padding: 20px;
	font-weight: 200;
}

.h__save-info, .h__submit, .h__payment-details-header
{
	margin: 20px 0;
}

.h__btn
{
	background-color: #DC5C47;
	color: #FFFFFF;
	border: 0;
	float: right;
}


/* dropdown menues */
.h__date-picker{
   background: url(../images/arrow_down_icon.png) no-repeat 90% #FFFFFF;
   -webkit-appearance: none;
}

/*-- toggle checkoboxes */


.h__lbl-toggle {
	border-radius: 14px;
	display: block;
	background-color: #DDDDDD;
	position: relative;
	text-indent: 100%;
	width: 50px; 
	height: 25px;
	-webkit-transition: background-position .3s ease;
	-moz-transition: background-position .3s ease;
	cursor: pointer;
	font-size: .01em;
	float: left;
	cursor: pointer;
}

input[type=checkbox] {
	display: none;
}

.h__lbl-toggle  span {
	background-color: #FFFFFF;
	border-radius: 50%;
	content: "";
	display: block;
	border: 1px solid #DDDDDD;
	position: absolute; top: 0; left: -1px;
	width: 25px;
	height: 25px;
	-webkit-transition: left .3s ease;
	-moz-transition: left .3s ease;
}

input[type=checkbox]:checked + .h__lbl-toggle  {
	background-color: #42A865;
}

input[type=checkbox]:checked + .h__lbl-toggle span {
	left: 26px;
}