body{
	font-family: 'Roboto', sans-serif;
	color:#666;
}

.divWorkListResponsive{display: none;}
,.divWork{
	width: 96%;    /* 960px */
	margin: 0 auto;
}
.divHome {
	width: 960px;
	font-size: 1.5em;
	text-align: center;
	font-weight: 100;
	line-height: 1.5em;
	margin: 2% auto 10%;  /* 20px auto 150px */
	padding-bottom: 10%; /* 100px */
	border-bottom: 1px solid #eaeaea;
}


.divHome h2{
	font-weight: bold;
	font-size: 1.5em;
	color:#fe3267;
}

.imgPhoto{
	width:150px;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	border-radius: 50%;
	margin: 50px auto;
	display: block;
}	

.nav{
	width:400px;
	margin: 40px auto;
	padding: 0;
	overflow: hidden;
}

.nav li{
	font-size: 18px;
	list-style-type: none;
	display: inline;
	float:left;
	width:45%; /* 180px */
	background-color:#fe3267;
	margin:0 10px;
	text-align: center;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
}

.nav li a{
		color:#fff;
		text-decoration: none;
		position: relative;
		line-height: 50px;
		display: block;
}

.nav li:hover{
	background: #e32455;
}

.nav li:active{
	background: #c70c3c;
}

#divContact{
	position: relative;
	width: 96%; /* 960px */
	display: block;
	margin: 0 auto;
	padding: 0 ;
	color:#fe3267;
}

#divContact a img{
width: 42px; 
}


/* work section css*/

.workHeader{font-size: 40px;
color:#c7c7c7;
text-align: center;
font-weight: lighter;
margin-bottom: 30px;
}

.divWorkListBigScreen{
	width: 960px;
	margin: 0 auto;
}

.work{
	padding: 0;
	display: inline-block;
}

.work li{
	height: 320px;
	list-style-type: none;
	display: inline;
	float: left;
	width:265px;
	margin:0 5.6% 0.56% 0; /* 0 50px 5px 0; */
}
.work li a img {	
	width:260px;
	-webkit-border-radius: 150px;
	-moz-border-radius: 150px;
	border-radius: 150px;
	border: 1px solid #fe3267;
	padding:2px;
	z-index: 0;
}

.work li .divTitle{
font-size: 0.9em;
margin:10px 80px;
color:#c7c7c7;
z-index: -1;
text-align: center;
}

.work li a .divMask{
	margin: 0;
	width:260px;
	height:260px;
	background-color: #fe3267;
	-webkit-border-radius: 150px;
	-moz-border-radius: 150px;
	border-radius: 150px;
	z-index: 1;
	opacity: 0.90;
	position: absolute;
	padding: 3px;
	text-align: center;
	display: none;
	
}

.work li a .divMask p{
	position: relative;
	color:#fff;
	font-style: italic;	
	line-height: 30px;
}

/* end of work section css */

/* footer css */
.divFooter{
	width: 96% ; /*960px */
	font-size: 0.7em;
	color:#ccc;
	margin:10.32% auto 0; /* 100px auto 0 */
	text-align: center;
	clear:both;
}

.divFooter img{
	margin:0 auto 1.076%; /* 0 auto 10px; */
	display: block;
}

/* end of footer css*/


/* responsive */

@media (max-width: 1023px){

.divHome {
	width: 98%;
	font-size: 20px;
}


.divHome h2{
	font-size: 1.5em;
}

.nav{
	width:80%; 
}

.nav li{
	width:100%; 
	height:50px;
	margin:5px 0;
	padding:0;
}

.workHeader{font-size: 1.8em;
} 
.divWorkListBigScreen{
	display: none;
}

.divWorkListResponsive{display: block;
width:100%;
margin: 0 auto;}

.work{
	padding: 0;
	display: inline-block;
}

.work li{
	height: auto;
	list-style-type: none;
	display: inline;
	float: left;
	width:80%;
	margin:2% 10%;
	padding-bottom:4%;
	border-bottom: 1px solid #eee;
	
}
.work li a {
	margin-left: 2%;
}
.work li a img {	
	width:50%;
	-webkit-border-radius: 0px;
	-moz-border-radius: 0px;
	border-radius: 0px;
	border: 0px solid #fe3267;
	padding:0px;
	z-index: 0;
	float:left;
}

.work li .divTitle{
width: 40%;
float:right;	
font-size: 22px;
margin:0% 0%;
color:#c7c7c7;
text-align: left;
}

.work li .divTitle p{
	color:#fe3267;
	font-size: 22px;
}
}

@media (max-width: 480px){
	.divHome {
		width: 98%;
		font-size: 18px;
	}

	.divHome h2{
		font-size: 18px;
		margin: 10px 0;
	}
	
	.divHome p{
		margin: 0;
	}

	.imgPhoto{
		margin:0 auto;
	}

	.nav{
		margin: 10px auto;
	}

	#divContact{
		width: 100%; 
		margin: 10px auto 0; 
	}

	#divContact a img{
	width: 35px;  
	}

	.workHeader{
		font-size: 24px;
		margin: 10px 0;
	} 

	.work li .divTitle{
	font-size: 16px;
	}

	.work li .divTitle p{
		font-size: 18px;
		margin: 0 0 10px;
	}

	.divFooter img{
		height:50%;
		width: 10%;
	}
}