body{font-size:0; color:#333; padding:0; margin:0; background:#fff; text-align:left; direction:ltr;font-family:"Helvetica Neue", "Helvetica", Arial, Geneva, sans-serif;}
*{margin:0; padding:0}
input:focus{outline: none;}
textarea:focus{outline: none;}
a{text-decoration: none;}
a:hover{text-decoration: none;}
h1{font:bold 48px "Helvetica Neue","Helvetica", Arial; margin: 35px 0 45px 0; display: inline-block;}
.fl{float:left;}
.fr{float:right;}
.cleaner{clear:both;}
img{border: none;}

::-moz-selection{
    background:#ff6666;
    color:#fff;
    text-shadow: 0 1px rgba(0, 0, 0, .2);
}
::selection{
    background:#ff6666;
    color:#fff;
    text-shadow: 0 1px rgba(0, 0, 0, .2);
}
/*--------------------------------------------------------*/
/* Scroll Up [START] */
.ScrollUp{width: 60px; height: 60px; position: fixed; bottom: 50px; right: 100px; display: none; background: url('images/ScrollUp.png') no-repeat;}
/* Scroll Up [END] */
/*--------------------------------------------------------*/
/* Main_Nav [START] */
.Nav_Main_Cont{margin: 0 0 50px 0; text-align: center; width: 1000px; list-style: none;}
.Nav_Main_Cont li{display: inline-block;}
.Nav_Main{
	background:url('images/Opacity40.png') repeat;
	height: 64px;
	padding: 15px 30px 0 30px;
	display: inline-block;
	border-radius:30px; -webkit-border-radius:30px; -moz-border-radius:30px; -khtml-border-radius: 30px;
	height: 43px;
	color: #fff;
	text-align: center;
	font: bold 24px "Helvetica Neue","Helvetica", Arial;
	margin:0 5px;
}
.Nav_Main:hover{background:url('images/Opacity70.png') repeat;}
.Nav_Main:active{background:url('images/Opacity80.png') repeat;}
.Nav_Main li{float: left;list-style: none;}

.Nav_Main_Selected{
	background:url('images/Opacity70.png') repeat;
	height: 64px;
	padding: 15px 30px 0 30px;
	display: inline-block;
	border-radius:30px; -webkit-border-radius:30px; -moz-border-radius:30px; -khtml-border-radius: 30px;
	height: 43px;
	color: #fff;
	text-align: center;
	font: bold 24px "Helvetica Neue","Helvetica", Arial;
	margin:0 5px;
}
.Nav_Main_Selected li{float: left;list-style: none;}
.Nav_Main_Selected:active{background:url('images/Opacity80.png') repeat;}
/* Main_Nav [END] */
/*--------------------------------------------------------*/
/* Home_Block [START] */
.Block_Home{background:url('images/Header_BG.gif') top center no-repeat;}

.Block_Home_Cont{width: 1000px; margin: 0 auto; position: relative; min-height: 900px;}

.Logo{background: url('images/Logo.png') center bottom no-repeat;width:287px;height:124px;display: block;margin: 0 auto;}

.TextBubble{width: 588px;height: 295px;margin: 15px auto 75px;background: url('images/Cola.png') 0 0 no-repeat;}
.TextBubble p{color: #fff;font: lighter 28px "Helvetica Neue";width: 450px;height: 140px;margin: 90px 0 0 80px;display: inline-block;}
.TextBubble img{background: url('images/Cola.png') 0 -295px;}

.SocialIcons{width: 195px;height: 31px;position: absolute;top:15px;right:0;}
.SocialIcons a{display: block;float: right;margin: 0 0 0 20px;}

.EmailIcon{background: url('images/Cola.png') -216px -297px no-repeat; width:30px; height: 19px;}
.EmailIcon:hover{background: url('images/Cola.png') -216px -320px no-repeat;}
.EmailIcon:active{background: url('images/Cola.png') -216px -343px no-repeat;}

.BehanceIcon{background: url('images/Cola.png') -246px -297px no-repeat; width:31px; height: 19px;}
.BehanceIcon:hover{background: url('images/Cola.png') -246px -320px no-repeat;}
.BehanceIcon:active{background: url('images/Cola.png') -246px -343px no-repeat;}

.TwitterIcon{background: url('images/Cola.png') -277px -295px no-repeat; width:29px; height: 23px;}
.TwitterIcon:hover{background: url('images/Cola.png') -277px -318px no-repeat;}
.TwitterIcon:active{background: url('images/Cola.png') -277px -341px no-repeat;}

/* Home_Block [END] */
/*--------------------------------------------------------*/
/* Block_Green_Portfolio [START] */
.Block_Green_Portfolio{background:url('images/Watermelons.png') top center no-repeat #dff5c9;}

.Green_Cont{width: 1000px; margin: 0 auto; text-align: center; min-height: 900px;}
.Green_Cont h1{color: #52653f;}

.Work_Cont{margin: 0 0 100px 0; display: inline-block;}

.ThumbCont{height: 200px; text-align:left; position: relative; float: left; margin: 0 7.8px 20px 0;
	border-radius: 5px;
	-webkit-border-radius:5px;
	-moz-border-radius:5px;
	-khtml-border-radius: 5px;
}
/* .ThumbCont:hover{background: #c3e6a0;} */

.ThumbCont p{font: normal 12px "helvetica"; display: inline-block; margin: 10px 0 0 10px;}

.WorkThumb{display: inline-block; border: solid 5px #c3e6a0;
	border-radius: 5px;
	-webkit-border-radius:5px;
	-moz-border-radius:5px;
	-khtml-border-radius: 5px;
}

.WorkThumb:hover{border: solid 5px #f5fded; }

/* Block_Green_Portfolio [END] */
/*--------------------------------------------------------*/
/* Block_White_About [START] */
.Block_White_About{background:#fff; margin: 0 0 100px 0;}

.WhiteCont{width: 1000px; margin: 0 auto; text-align: center; min-height: 900px;}
.WhiteCont h1{color: #8b8b8b;}
.WhiteCont p{font:normal 40px "Helvetica Neue", "Helvetica", Arial, sans-serif; margin: 50px 0 0 0; color: #8b8b8b; text-align: left;}
.WhiteCont h3{color: #4379af; font-size: 20px;}

.AboutHeaderNote{width: 1000px; margin: 20px auto; border-bottom: solid 1px #eaeaea; background: #fdfbf3;}
.AboutHeaderNote a{
	color:#fff;
	background: #336699; 
	padding: 10px 30px 0px 30px;
	font:normal 24px "Helvetica Neue", "Helvetica", Arial;
	border-radius:30px;
	-webkit-border-radius:30px;
	-moz-border-radius:30px;
	-khtml-border-radius: 30px;
	display: inline-block;
	margin: 10px 50px;
	width: 320px;
	height: 40px;
}
.AboutHeaderNote a:hover{background: #4379af;}
.AboutHeaderNote a:active{background: #264d74;}

.AboutRowFl , .AboutRowFr{background: #fff; border-bottom: solid 1px #eaeaea; height: 320px; width: 1000px; margin: 40px 0 20px 0;}

.AboutRowFl p , .AboutRowFr p{font:lighter 38px "Helvetica Neue","Helvetica", Arial; color: #999; width:700px; height: 280px; margin: 50px 0 0 0; font-weight: 100; text-align:left;}
.AboutRowFl img , .AboutRowFr img{width: 280px; height: 280px; float: left;}

.AboutRowFl p{float: right;}
.AboutRowFl img{float:left; margin: 0 20px 0 0;}

.AboutRowFr p{float: left;}
.AboutRowFr img{float:right; margin: 0 0 0 20px;}

/* Block_White_About [END] */
/*--------------------------------------------------------*/
/* Block_Pink_Lab [START] */
.Block_Pink_Lab{background:url('images/Bezer.png') top center no-repeat #ffcccc; text-align: center;}

.PinkCont{width: 1000px; margin: 0 auto; display: inline-block; min-height: 900px;}
.PinkCont h1{color: #993333;}

.Lab_Links_Cont a{
	color:#b13d3f;
	font:bold 20px "Helvetica Neue", "Helvetica", Arial, sans-serif;
	background: #ffe6e6;
	padding: 5px 20px;
	border-radius:30px;
	-webkit-border-radius:30px;
	-moz-border-radius:30px;
	-khtml-border-radius: 30px;
	display: inline-block;
	margin: 0 10px 10px 0;
}
.Lab_Links_Cont a:hover{background: #fff; text-decoration: none;}
.Lab_Links_Cont a:active{color:#fff; background: #993333;}

/* Block_Pink_Lab [END] */
/*--------------------------------------------------------*/
/* Block_Gray_Contact [START] */
.Block_Gray_Contact{background:url('images/HeaderGrayBG.png') repeat-x #333; text-align: center;}

.GrayCont{width: 1000px; margin: 0 auto; min-height: 900px; display: inline-block; position: relative;}
.GrayCont h1{color:#999;}

/* Email Row */
.EmailCont{width:800px; margin: 0 auto; height: 120px;}
.EmailCont a{width:600px; float: left; height: 110px; color: #515151; font: bold 42px "Helvetica Neue", "Helvetica", Arial; text-align: left; margin: 10px 0 0 0;}
.EmailIconSpace{width:180px; margin: 0 20px 0 0; float: left; height: 120px; text-align: center;}
.EmailIconSpace img{background: url('images/EmailIcon.png') 0 0 no-repeat; width: 120px; height: 76px;}

.EmailCont:hover a{color:#fff;}
.EmailCont:hover .EmailIconSpace img{background: url('images/EmailIcon.png') 0 -76px no-repeat;}

/* Mobile Row */
.MobileCont{width:800px; margin: 0 auto; height: 120px;}
.MobileCont a{width:600px; float: left; height: 95px; color: #515151; font: bold 42px "Helvetica Neue", "Helvetica", Arial; text-align: left; margin: 25px 0 0 0;}
.MobileIconSpace{width:180px; margin: 0 20px 0 0; float: left; height: 120px; text-align: center;}
.MobileIconSpace img{background: url('images/MobileIcon.png') 0 0 no-repeat; width: 69px; height: 115px;}

.MobileCont:hover a{color:#fff;}
.MobileCont:hover .MobileIconSpace img{background: url('images/MobileIcon.png') 0 -115px no-repeat;}

/* Twitter Row */
.TwitterCont{width:800px; margin: 40px auto 0; height: 120px;}
.TwitterCont a{width:600px; float: left; height: 95px; color: #515151; font: bold 42px "Helvetica Neue", "Helvetica", Arial; text-align: left; margin: 25px 0 0 0;}
.TwitterIconSpace{width:180px; margin: 0 20px 0 0; float: left; height: 120px; text-align: center;}
.TwitterIconSpace img{background: url('images/TwitterIcon.png') 0 0 no-repeat; width: 120px; height: 98px;}

.TwitterCont:hover a{color:#fff;}
.TwitterCont:hover .TwitterIconSpace img{background: url('images/TwitterIcon.png') 0 -98px no-repeat;}


.FooterTextCont{position: absolute; bottom:0; text-align: center; color: #525252; font-size: 11px; width: 100%;}
.FooterTextCont a{color: #666;}
.FooterTextCont a:hover{color:#999; text-decoration: underline;}

/* Block_Gray_Contact [END] */