*{
	margin:0;
	padding:0;
	-webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
	-moz-box-sizing: border-box;    /* Firefox, other Gecko */
	box-sizing: border-box;         /* Opera/IE 8+ */
	transition: all 0.1s;
}

body{
	color:#fff;
	padding:0;
	margin:0;
	background:#ffde00;
	text-align:left;
	direction:ltr;
	font: 300 62.5% "Roboto","Helvetica Neue", "Helvetica", Arial, Geneva, sans-serif;
}

input, textarea {
  -webkit-appearance: none;
  -webkit-border-radius: 0;
}

.mainCont{
	width: 960px;
	margin: auto;
}

.mainCont h1{
		font: 300 48px "Roboto","Helvetica Neue", "Helvetica", Arial, Geneva, sans-serif;
		color: #333;
		text-transform: uppercase;
		text-align: center;
		margin: 50px 0;
}

.FormCont{
	width: 100%;
	display: inline-block;
	margin: 0 auto;
	/* min-height: 500px; */
}


.buttonPaperRockScissors {
	border: 0;
	height: 88px;
	width: 250px; /* 26.0416666667% */
	background: #fff;
	font: 300 30px "Roboto","Helvetica Neue", "Helvetica", Arial, Geneva, sans-serif;
	color: #333;
	display: block;
	float: left;

	box-shadow: 0 4px 0 #d5b900;
	-webkit-box-shadow:0 4px 0 #d5b900;
	-moz-box-shadow:0 4px 0 #d5b900;

	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
}
.buttonPaperRockScissors:hover{
	background: #fff8c7;
	cursor: pointer;
}
.buttonPaperRockScissors:active{
	background: #d5b900;
	margin-top: 6px;
	margin-bottom: -3px;
	height: 85px;
	color: #665900;

	box-shadow: 0 -3px 0 #c2a902;
	-webkit-box-shadow:0 -3px 0 #c2a902;
	-moz-box-shadow:0 -3px 0 #c2a902;

}
.buttonPaperRockScissors:focus{
	outline: none;
}

.buttonMiddle{
	margin: 0 10.9375%;
}

.buttonSelected{
	border: 0;
	height: 88px;
	width: 250px; /* 26.0416666667% */
	font: 300 30px "Roboto","Helvetica Neue", "Helvetica", Arial, Geneva, sans-serif;
	display: block;
	float: left;

	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;

	background: #d5b900;
	margin-top: 6px;
	margin-bottom: -3px;
	height: 85px;
	color: #665900;

	box-shadow: 0 -3px 0 #c2a902;
	-webkit-box-shadow:0 -3px 0 #c2a902;
	-moz-box-shadow:0 -3px 0 #c2a902;
}
.buttonSelected:focus{
	outline: none;
}

.buttonFight{
	display: none;
	border: 0;
	height: 88px;
	width: 100%;
	background: #333;
	font: 300 42px "Roboto","Helvetica Neue", "Helvetica", Arial, Geneva, sans-serif;
	color: #fff;
	margin: 50px auto 0;
	float: left;
	text-transform: uppercase;


	box-shadow: 0 4px 0 #222;
	-webkit-box-shadow:0 4px 0 #222;
	-moz-box-shadow:0 4px 0 #222;

	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
}

.buttonFight:hover{
	background: #222;
	cursor: pointer;
}

.buttonFight:active{
	background: #222;
	margin-top: 56px;
	margin-bottom: -6px;
	box-shadow: 0 -3px 0 #111;
	-webkit-box-shadow:0 -3px 0 #111;
	-moz-box-shadow:0 -3px 0 #111;
}

.buttonFight:focus{
	outline: none;
}

.FooterLink{
	font: 300 11px "Roboto","Helvetica Neue", "Helvetica", Arial, Geneva, sans-serif;
	color:#222;
	text-align: center;
	margin:75px 0 0 0;
	display: block;
	text-decoration: none;
}
.FooterLink:hover{
	text-decoration: underline;
}



@media screen and (max-width: 960px){
	.mainCont{width:95%;}
	.buttonPaperRockScissors{width:100%; margin-bottom: 10px; height: 66px; font-size: 26px;}
	.buttonPaperRockScissors:active{margin-top: 6px;margin-bottom: 7px; height: 63px;}
	.buttonMiddle{margin-left: 0; margin-right: 0;}
	.buttonSelected{width:100%; height: 63px; margin-bottom: 7px; font: 300 26px "Roboto","Helvetica Neue", "Helvetica", Arial, Geneva, sans-serif;}
	.mainCont h1{font: 300 32px "Roboto","Helvetica Neue", "Helvetica", Arial, Geneva, sans-serif;}
	.buttonFight{font: 300 28px "Roboto","Helvetica Neue", "Helvetica", Arial, Geneva, sans-serif; height: 63px; margin-top: 20px;}
	.buttonFight:active{margin-top: 26px;}
}