*{
	margin:0;
	padding:0;
	-webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
	-moz-box-sizing: border-box;    /* Firefox, other Gecko */
	box-sizing: border-box;         /* Opera/IE 8+ */
	transition: all 0.5s;
}

body{
	color:#fff;
	padding:0;
	margin:0;
	background:#1c4575;
	text-align:left;
	direction:ltr;
	font: 300 62.5% "Roboto","Helvetica Neue", "Helvetica", Arial, Geneva, sans-serif;
	height: 100%;
}

input, textarea {
  -webkit-appearance: none;
  -webkit-border-radius: 0;
}

.mainCont{
	width: 500px;
	margin: auto;
	position: relative;
}

.ballCont{
	display: block;
	background: #05192f;
	width: 250px; /* 50% */
	padding-bottom: 250px; /* 50% */
	margin: 50px auto;
	position: relative;
	-moz-border-radius: 50%;
	-webkit-border-radius: 50%;
	border-radius: 50%;
	
	color: #05192f;
	font-size: 60px;
	font-weight: 600; /* 300 is thin */
	
	vertical-align: middle;
	text-align: center;
}

.ballCont:after{
	background: #fff;
	width: 35%;
	height: 35%;
	content: "8";
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	margin: auto;
	-moz-border-radius: 50%;
	-webkit-border-radius: 50%;
	border-radius: 50%;
}

.mainCont .ballContSmaller{
	width: 80px;
	padding-bottom: 80px;
	margin: 10px auto;
	font-size: 20px;
}

#textAnswer{
	width: 100%;
	z-index: 1;
	font:700 32px "Roboto","Helvetica Neue", "Helvetica", Arial, Geneva, sans-serif;
	text-transform: uppercase;
	padding: 20px;
	margin:50px 0;
	border-radius: 5px;
	display: none;
	text-align: center;
}

#textQuestion{
	border: 0;
	height: 73px;
	width: 100%;/* 380/400*/
	background: #103159;
	font: 300 22px "Roboto","Helvetica Neue", "Helvetica", Arial, Geneva, sans-serif;
	color: #4271a9;
	padding: 0 20px; /* (10/330*100) */
	margin: auto;
	display: block;

	-webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
	-moz-box-sizing: border-box;    /* Firefox, other Gecko */
	box-sizing: border-box;         /* Opera/IE 8+ */

	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;

}

#textQuestion:focus{
	outline: none;
	background: #fff;
}

#buttonAskQuestion{
	border: 0;
	height: 70px;
	width: 100%; /* 380/400 */
	background: #b2cf10;
	font: 300 22px "Roboto","Helvetica Neue", "Helvetica", Arial, Geneva, sans-serif;
	color: #0c3d38;
	padding: 10px 25px;
	margin: 15px auto 0;
	display: block;
	text-transform: uppercase;

	box-shadow: 0 4px 0 #94ae01;
	-webkit-box-shadow:0 4px 0 #94ae01;
	-moz-box-shadow:0 4px 0 #94ae01;

	-webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
	-moz-box-sizing: border-box;    /* Firefox, other Gecko */
	box-sizing: border-box;         /* Opera/IE 8+ */

	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;

	transition: all 0.1s;
}
#buttonAskQuestion:hover{
	background: #bedc1a;
	cursor: pointer;
}
#buttonAskQuestion:active{
	background: #94ae01;
	padding-top: 14px;
	margin-top: 19px;
	margin-bottom: -4px;
	/*padding: 5px 0 0 0;*/

	box-shadow: 0 0 0 #2d766f;
	-webkit-box-shadow:0 0 0 #2d766f;
	-moz-box-shadow:0 0 0 #2d766f;

}
#buttonAskQuestion:focus{
	outline: none;
}

.FooterLink{
	text-decoration: none;
	color: #5b8ccb;
	text-align: center;
	font:300 12px "Roboto","Helvetica Neue", "Helvetica", Arial, Geneva, sans-serif;
	width: 100%;
	display: block;
	bottom: 0;
	margin: 100px auto 10px;
}

.FooterLink:hover{
	text-decoration: underline;
}


@media screen and (max-width: 600px){
	.mainCont{width:95%;}
	#buttonAskQuestion{font-size: 20px;}
	.ballCont{margin: 35px auto; width: 200px; padding-bottom: 200px; font-size: 48px;}
	#textQuestion{height: 55px; font-size: 18px; padding: 0 15px 5px 15px;}
	#buttonAskQuestion{height: 52px; font-size: 18px;}
	#textAnswer{font-size: 22px;}
}