// Cover Photo
.labCoverImage{
	// background: linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.6)), url('images/pages-cover-images/im-lab.jpg') $watermelonGreen no-repeat;
	// background-size: 100% auto;
	// background-position: center;
	border-bottom:solid 2px $watermelonGreen;
}
// Links color
.labLinkTitle{
	color: $watermelonGreen;
}

// Subsfinder icon
.general-link-icon{
	background-image: url(images/ic-general-link.svg);
}
