html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

body{
  /*font: caption;*/
  font-family: 'Roboto','Helvetica Neue', 'Lucida Grande', sans-serif;
}

body, h1,h2,h3, p{
	margin:0;
	padding:0;
}

.pinkGradBg{
  background-image: linear-gradient(270deg, #FB166C 0%, #D73886 100%);
  box-shadow: 0px 2px 8px 0px rgba(0,0,0,0.25);
}

.userProfInfoCont{
  background: rgba(189,255,0,0.2);
  width:1200px;
  margin: 0 auto;
  overflow: hidden;
}

.userAvatar{
  border-radius: 50%;
  width:128px;
  height: 128px;
  background: url(images/me.jpg) black no-repeat;
  background-size: 128px;
  box-shadow: 0 0 0 4px rgba(0,0,0,0.1);
  margin: 20px 0 0 4px;
  display: inline-block;
}

.rightColUserInfo{
  display: inline-block;
  background: red;
  width: 1000px;
  vertical-align: top;
  margin: 40px 0 0 0;
  float: right;
}

.rightColUserInfo hr{
  border: none;
  height: 1px;
  background: rgba(0,0,0,0.1);
  margin: 20px 0;
}

.nameNLocationCont{
  display: inline-block;
  vertical-align: top;
  background: rgba(255,134,0,0.5);
}

.nameOnDribbble{
  color: white;
  font-weight: 500;
  font-size: 24px;
}

.userLocation{
  font-size: 14px;
  font-weight: 400;
  color: rgba(255,255,255,0.7);
  display: block;
}

.userNumbersCont{
  background: rgba(0,255,140,0.5);
  display: inline-block;
  vertical-align: top;
  float: right;
}

.userNumber{
  display: inline-block;
  text-decoration: none;
  margin: 0 0 0 40px;
  text-align: center;
  font-size: 18px;
  color: rgba(255, 255, 255, 1);
}

.countTitle{
  font-size: 14px;
  color: rgba(255,255,255,0.7);
}

.userBio{
  font-size: 18px;
  color: rgba(255,255,255,0.7);
}


/* Make me responsive */
@media screen and (max-width: 1000px){

}
