*{
	margin: 0;
	padding: 0;
	-webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
	-moz-box-sizing: border-box;    /* Firefox, other Gecko */
	box-sizing: border-box;         /* Opera/IE 8+ */
	transition: all 0.25s;
	-webkit-appearance: none;
	-webkit-border-radius: 0;
	outline: none;
	font: 300 20px 'Open Sans', 'Helvetica Neue', 'Helvetica', sans-serif;
}

a{
	color: #0082cc;
	text-decoration: none;
	display: inline-block;
	font-size: 14px;
}
a:hover{
	text-decoration: underline;
}


body{
	color: #222;
	background: #fff;
}

.opacityFull{
	/*opacity: 1;*/
	display: block;
}
.opacityZero{
	/*opacity: 0;*/
	display: none;
}

#mainCont{
	width: 550px;
	margin: 50px auto 0;
}

#crazyMfAvatar{
	display: block;
	width: 160px;
	height: 160px;
	background: url('../images/oldMotherucker.gif')no-repeat -35px 0;
	background-size: 180%;
	margin: 0 auto;
	border-radius: 50%;
}
#crazyMfAvatar:hover{
	transition: all 0.5s;
	background-position: -25px 0;
	background-size: 180%;
}

#instructionsTxt{
	text-align: center;
	width: 100%;
	display: inline-block;
	margin: 50px 0 0 0;
	font-size: 20px;
}

#warningMsg{
	text-align: center;
	font-size: 12px;
	color: #999;
	width: 100%;
	margin: 10px 0 20px 0;
	display: inline-block;
}

.crazyMFfButton{
	width: 90%;
	height: 70px;
	margin: 0 auto 100px;
	border:none;
	background: #ff3300;
	color: #fff;
	border-radius: 40px;
	font-size: 18px;
	cursor: pointer;
}
.crazyMFfButton:hover{
	background: #e72e00;
}
.crazyMFfButton:active{
	background: #c92800;
	padding-top: 4px;
}
.extraCrazyMFbutton{
	/*display: none;*/
}

#moreOptionsLink{
	text-align: center;
	display: block;
	margin: 50px 0;
}
#moreOptionsLink strong{
	font-size: 14px;
	font-weight: 700;
}

#customText{
	width: 90%;
	height: 70px;
	margin: 0 auto 25px;
	border: solid 1px #e7e7e7;
	border-radius: 40px;
	padding:10px 30px;
	font-style: italic;
	color: #999;
	background: #f4f4f4;
}
#superCrazyButton{
}

.changeBG{
	background: green;
	height: 500px;
}

.footerCont{
	width: 100%;
	border-top: solid 1px #eee;
	padding-top: 10px;
	display: inline-block;
	margin-bottom: 30px;
}
.shareShitCont {
	text-align: center;
}

.shareShitCont span{
	font-size: 12px;
	vertical-align: top;
}

.tweetShitCont{
	margin: -2px 0 0 10px;
	display: inline-block;
	vertical-align: top;
}

.fb-like{
	display: inline-block;
	width: 50px;
	height: 20px;
	margin: -1px 0 0 4px;
	line-height: 0;
}

.madeForCont{
	display: block;
	font-size: 12px;
	text-align: center;
}

@media screen and (max-width: 500px){
	#mainCont{width:94%; margin-top:20px;}
	#crazyMfAvatar{width: 140px; height: 140px}
	#instructionsTxt{font-size: 18px; margin-top: 20px;}
	#warningMsg{font-size: 10px;}
	.crazyMFfButton{font-size: 16px; height: 60px;}
	#customText{font-size: 16px; height: 60px}
	a{font-size: 12px;}
	#moreOptionsLink strong{font-size: 12px;}
	.madeForCont{margin: 5px 0 0 0;}
}