body{font-size:20px; padding:0; margin:0; background: url(images/bg01.png) top center  no-repeat #f2f2f2; text-align:left; direction:ltr; font-family: Helvetica, Arial, 'Futura'; color: #333;}
*{margin:0; padding:0}
input:focus{
	outline: none;
}

.Cont{width: 1000px; height: 6127px;}