body{color:#4a5b6a; padding:0; margin:0; background:#e8f0f7; text-align:left; direction:ltr;font-family:"Helvetica Neue", "Helvetica", Arial, Geneva, sans-serif;}
*{margin:0; padding:0; font-family: "Roboto",sans-serif, "Helvetica Neue"}

.HeaderArea{height: 100px; width: 100%; display: block; background: #00527b; display: inline-block;}
.HeaderCont{width: 960px; margin: 0 auto;}

.MainCont{width: 550px; margin: 50px auto 0; position: relative;}
.MainCont h1{text-align: center; font-weight: 300; font-size: 36px; color: #4a5b6a;}


.Logo{margin: 30px 0 0 0; float: left;}
.Logo img{
	width: 40px;
	height: 40px;
	background: url('images/MoonLogo.svg') no-repeat;
	float: left;
}
.Logo h1{
	float: left;
	color: #e8f0f7;
	font-size: 26px;
	font-weight: 300;
	margin: 0 0 0 5px;
}

.SubTitle{float: right; margin: 40px 0 0 0;}
.SubTitle h2{color: #8cc8e6; font: 300 14px "Roboto";}

.TimeCont{display: inline-block; width: 100%; margin: 50px 0;}

.TimeSeparator{font-family: "Roboto"; font-size: 120px; color: #00527b; float: left;}

.HoursFeild, .MinutesFeild{border: none; width: 150px; font-family: "Roboto"; font-size: 120px; color: #00527b; float: left; background: none;}
.HoursFeild{
	font-weight: 900;
}
.HoursFeild:hover, .MinutesFeild:hover{color: #023d5a;}

.amAndpm{
	display: block;
	float: right;
	width: 220px;
	height: 75px;
	margin: 45px 0 0 0;
}

.amButton, .pmButton{
	width: 110px;
	height: 75px;
	display: block;
	float: left;
}

.amButton{
	background: url("images/amInactive.png") center no-repeat #c1ccd5;
	border-radius: 5px 0 0 5px;
	-moz-border-radius: 5px 0 0 5px;
    -webkit-border-radius: 5px 0 0 5px;
    -khtml-border-radius: 5px 0 0 5px;
}
.amButton:hover{
	background: url("images/amActive.png") center no-repeat #00527b;
}

.pmButton{
	background: url("images/pmInactive.png") center no-repeat #c1ccd5;
	border-radius: 0 50x 5px 0;
	-moz-border-radius: 0 5px 5px 0;
    -webkit-border-radius: 0 5px 5px 0;
    -khtml-border-radius: 0 5px 5px 0;
}
.pmButton:hover{
	background: url("images/pmActive.png") center no-repeat #00527b;
}

.WhenButton{
	display: block;
	background: #cc3300;
	text-align: center;
	padding: 15px 0 0 0;
	border: none;
	width: 100%;
	height: 65px;
	font-family: "Roboto";
	font-size: 32px;
	color: #ffcccc;
	text-decoration: none;
	border-radius: 5px;
	-moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    -khtml-border-radius: 5px;
}

.WhenButton:hover{
	background: #da3802;
}

.WhenButton:active{
	background: #b82706;
}

.HoursArrowsCont{ width: 140px;	height: 210px; position: absolute; top: 78px; left: 0px; display: block;}
.MinutesArrowsCont{	width: 140px; height: 210px; position: absolute; top: 78px;	left: 170px; display: none;}

.ArrowUp, .ArrowDown{
	display: block;
	width: 100%;
	height: 45px;
	border-radius: 5px;
	-moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    -khtml-border-radius: 5px;
    position: absolute;
    background:none;
}

.ArrowUp{background: url("images/ArrowUp.png") center no-repeat #c1ccd5; top: 0;}

.ArrowDown{background: url("images/ArrowDown.png") center no-repeat #c1ccd5; bottom: 0;}

.ArrowUp:hover, .ArrowDown:hover{
	background-color: #ccd6de;
}

.ArrowUp:active, .ArrowDown:active{
	background-color: #b7c5d0;
}



/* Responsive ShitZ */

@media screen and (max-width: 980px){
	.HeaderCont{ width:95%;}
	.MainCont{ width: 550px;}
}

@media screen and (max-width: 700px){
	.MainCont{width: 95%;}
}

@media screen and (max-width: 450px){
	.HeaderCont{width:95%;height: 100%;}
	.HeaderArea{height: 50px;}

	.Logo{margin: 13px 0 0 0;}
	.Logo img{width: 20px; height: 20px; background-size: 20px; margin: 2px 0 0 0;}
	.Logo h1{font-size: 16px; }

	.SubTitle{margin: 17px 0 0 0;}
	.SubTitle h2{font-size: 12px;}

	.MainCont{width: 95%; margin: 20px auto 0;}
	.MainCont h1{font-size: 32px;}

	.HoursFeild, .MinutesFeild{font-size: 90px; width: 100px;}
	.TimeSeparator{font-size: 90px;}

	.amAndpm{width: 92px; margin: 35px 0 0 0;}
	.amButton, .pmButton{width: 46px; height:60px;}
	.pmButton, .pmButton:hover{background-size: 20px;}
	.amButton, .amButton:hover{background-size: 26px;}

	.HoursArrowsCont{top:102px; height: 190px; width: 105px}
	.MinutesArrowsCont{top:102px; left: 150px; height: 190px; width: 105px}

	.WhenButton{height: 50px; margin: 10px 0 0 0; font-size: 24px;}

}
