*{
	margin:0;
	padding:0;
	-webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
	-moz-box-sizing: border-box;    /* Firefox, other Gecko */
	box-sizing: border-box;         /* Opera/IE 8+ */
}

body{
	color:#333;
	padding:0;
	margin:0;
	background:#fff;
	text-align:left;
	direction:ltr;
	font: 300 62.5% "Helvetica Neue", "Helvetica", Arial, Geneva, sans-serif;
	height: 100%;
	min-height: 100%;
}

input, textarea {
  -webkit-appearance: none;
  -webkit-border-radius: 0;
}

.mainCont{
	width: 500px;
	margin: 0 auto;
}

h1{
	font: 700 60px "Dancing Script","Helvetica Neue", "Helvetica", Arial, Geneva, sans-serif;
	text-align: center;
	margin: 75px 0 50px 0;
}

#txtWriteHere{
	width: 100%;
	border: solid 1px #dfdfdf;
	margin: 25px 0;
	padding: 20px;
	font: 300 40px "Helvetica Neue", "Helvetica", Arial, Geneva, sans-serif;
	text-align: center;
	background: #fff;
	color: #ccc;
	border-radius: 5px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	max-width: 100%;
	min-height: 250px;
}

#txtWriteHere:focus{
	outline: none;
	background: #fff;
	color: #222;
	border:solid 1px #33ccff;
}

#titleKeyCountNum{
	font: 300 20px "Helvetica Neue", "Helvetica", Arial, Geneva, sans-serif;
	color: #dfdfdf;
	text-align: center;
}

#txtAreaTwin{
	width: 100%;
	border: solid 1px #dfdfdf;
	margin: 25px 0;
	padding: 20px;
	font: 300 40px "Helvetica Neue", "Helvetica", Arial, Geneva, sans-serif;
	text-align: center;
	background: #fff;
	color: #ccc;
	border-radius: 5px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	max-width: 100%;

	-ms-word-break: break-all;
	word-break: break-all;
	word-break: break-word;

}

#buttonValidate{
	border: none;
	width: 100%;
	height: 74px;
	background: #ff3346;
	color: #fff;
	font-size: 22px;

	box-shadow: 0 4px #e50e22;
	-moz-box-shadow: 0 4px #e50e22;
	-webkit-box-shadow: 0 4px #e50e22;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	text-transform: uppercase;
}
#buttonValidate:hover{
	background: #f82d40;
	cursor: pointer;
}
#buttonValidate:active{
	background: #e50e22;
	box-shadow: none;
	-moz-box-shadow: none;
	-webkit-box-shadow: none;
	margin-top: 4px;
	margin-bottom: -4px;
}
#buttonValidate:focus{
	outline: none;
}

.footerLink{
	color: #444;
	font-size: 12px;
	text-decoration: none;
	text-align: center;
	display: block;
	margin: 25px 0 0 0;
}
.footerLink:hover{
	color: #666;
	text-decoration: underline;
}

@media screen and (max-width: 600px){
	.mainCont{width:94%;}
	h1{font-size: 40px; margin-top: 20px;}
	#titleKeyCountNum{font-size: 18px;}
	#txtWriteHere{font-size: 20px; margin-top: 25px; min-height: 100px; background: #fff;}
	#buttonValidate{height: 60px; font-size: 18px;}
}